<h3>Add a new daily</h3>
<%= simple_form_for @daily do |f| %>
<%= f.error_notification %>
<div class="form-input">
	<%= f.input :name, :maxlength => 50 %>
	<%= f.hidden_field :user_id, :value => current_user.id, :maxlength => 50 %>
	<br>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
	</div>
</div>
<% end %>
