<div>
	<%= simple_form_for @want do |f| %>
	<%= f.error_notification %>
	<form class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<%= f.input :name, :maxlength => 30, :input_html => { :class => "form-control" }, :label => false, :placeholder => "Enter new want" %>
				<%= f.input :purchase_condition, :maxlength => 50, :input_html => { :class => "form-control" }, :label => false, :placeholder => "Enter condition for purchase" %>
				<%= f.hidden_field :user_id, :value => current_user.id, :maxlength => 30 %>		
				<span class="input-group-btn">
					<%= f.button :submit, :class => "btn btn-lg btn-primary custom-height-button", :value => "+" %>
				</span>
			</div>
		</div>
	</form>
	<% end %>
</div>
