<div class="row text-center">
	<h1>User Home Page</h1>
</div>

<div class="col-md-4">
	<h2 class="text-center">Dailies</h2>
	<% @dailies.order('created_at ASC').each do |p| %>		
		<%= render "/shared/user_dailies", :p => p %>
	<% end %>
	<%= render "/shared/create_new_daily" %>
</div>

<div class="col-md-4">
	<h2 class="text-center">Goals</h2>
	<% @goals.order('created_at ASC').each do |p| %>
		<%= render "/shared/user_goals", :p => p %>
	<% end %>		
	<%= render "/shared/create_new_goal" %>
</div>

<div class="col-md-4">
	<h2 class="text-center">Wants</h2>
	<% @wants.order('created_at ASC').each do |p| %>
		<%= render "/shared/user_wants", :p => p %>
	<% end %>		
	<%= render "/shared/create_new_want" %>
</div>


