<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="text-center panel-heading"><h4>Dailies</h4></div>
		<div class="panel-body">
			<%= render "/shared/create_new_daily" %>
			<% @dailies.order('created_at ASC').each do |p| %>		
				<%= render "/shared/user_dailies", :p => p %>
			<% end %>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="text-center panel-heading"><h4>Goals</h4></div>
		<div class="panel-body">
			<%= render "/shared/create_new_goal" %>	
			<% @goals.order('created_at ASC').each do |p| %>
				<%= render "/shared/user_goals", :p => p %>
			<% end %>		
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="text-center panel-heading"><h4>Wants</h4></div>
		<div class="panel-body">
			<%= render "/shared/create_new_want" %>		
			<% @wants.order('created_at ASC').each do |p| %>
				<%= render "/shared/user_wants", :p => p %>
			<% end %>		
		</div>
	</div>
</div>
