<!DOCTYPE html>
<html>
<head>
  <title>HabitsBro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-top" role="navigation">		
			<div class="container">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">Habit Bro</div>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><%= link_to("Log out", destroy_user_session_path, :method => :delete) if user_signed_in? %></li>
							<li><%= link_to("Log in", '/users/sign_in', :method => :get) if user_signed_in? == false %></li>
              <li><%= link_to("Sign up", '/users/sign_up', :method => :get) if user_signed_in? == false %></li>
						</ul>
					</div>
				</nav>
<div class="container">
    <%= bootstrap_flash %>  
	<%= yield %>
</div>
</body>
</html>
